<div class="ll-feature bg-warn pt-12 pb-14">
    <div class="container">
        <div class="grid grid-cols-12">
            <div class="_title-wrap bg-black col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3 sm:row-span-3">
                <h2 class="_title text-white">
                    Yours
                    Benefits
                    A. get our
                    good plans 
                    from your home
                </h2>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">HIGH QUALITY WITH LOW PRICE</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">NO SALES TALK OR JOURNEY</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">WHAT YOU ARE BUYING IS CLEARLY STATED</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">REAL-TIME MONTIORING OF AFTER-SALES CASES</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">COMPENSATION IS GUARANTEED</h2>
                </div>
            </div>
            <div class="flex _feature mt-8 col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3">
                <div class="flex-none w-16 text-center">
                    <mat-icon>check</mat-icon>
                </div>
                <div class="flex-grow">
                    <h2 class="font-black text-black">WE GUARANTEE 99.99% OF SATISFACTION</h2>
                </div>
            </div>
        </div>
    </div>
</div>