<p>vendeur works!</p>
<!-- This is a button toggling the modal -->
<button class="uk-button uk-button-danger uk-width-1-1" uk-toggle="target: #modal-example">Add new product </button>
<!-- This is the modal -->
<div id="modal-example" uk-modal>
  <div class="uk-modal-dialog uk-modal-body">
      <h4 class="uk-modal-title">Add  NEW PRODUCT</h4>

<!--------------------form starting--------------------->
<form #f="ngForm" (ngSubmit)="addproduct(f)">
<br>



<div class="uk-margin">
  <label class="uk-form-label" for="form-horizontal-text">product name</label>

  <div class="uk-form-controls">
      <input class="uk-input"  
      type="text"
       name="productname"
        #productname="ngModel" 
       ngModel required minlength="4" maxlength="20"
       placeholder="product name..."  >
       <p class="alert alert-danger" *ngIf="productname.errors?.required && productname.touched" > product name is required</p>
       <p class="alert alert-danger" *ngIf="productname.errors?.minlength && productname.touched" > product name should be more then 8 caracter</p>
       
      </div>
</div>



<div class="uk-margin">
  <label class="uk-form-label" for="form-horizontal-select">Category</label>
  <div class="uk-form-controls">
      <select class="uk-select" id="form-horizontal-select" name="category"
       #category="ngModel" ngModel required>
          <option>phone</option>
          <option>laptop</option>
          <option>gaming stuff</option>
          <option>home appliance</option>
          <option>other</option>
      </select>
      <p class="alert alert-danger" *ngIf="category.errors?.required && category.touched" >  category is required</p>
  </div>
</div>

<div class="uk-margin">
  <div class="uk-form-label">payment method: </div>
  <div class="uk-form-controls">
    <select class="uk-select" id="form-horizontal-select"
     name="payment" 
     #payment="ngModel" ngModel required>
        <option>money order</option>
        <option>master card </option>
        <option> cash on delivery </option>
    </select>
    <p class="alert alert-danger" *ngIf="payment.errors?.required && payment.touched" >  product oondition is required</p>
</div>
</div>



<div class="uk-margin">
  <div class="uk-form-label">product condition: </div>
  <div class="uk-form-controls">
    <select class="uk-select" id="form-horizontal-select"
     name="condition" 
     #condition="ngModel" ngModel required>
        <option>refreshed</option>
        <option>new </option>
    </select>
    <p class="alert alert-danger" *ngIf="condition.errors?.required && condition.touched" >  product oondition is required</p>
</div>
</div>
<div class="uk-margin">
  <label class="uk-form-label" for="form-horizontal-text">product price: (price in dinars)</label>
  <br> <input class="uk-input uk-form-danger uk-form-width-medium" type="number" placeholder="100 DNT" value="00.00 DNT" name="price" 
  #price="ngModel" ngModel required >
  <p class="alert alert-danger" *ngIf="price.errors?.required && price.touched" >  price is required</p>
  
</div>


<div class="uk-margin">
  <label class="uk-form-label" for="form-horizontal-text">market price: (price in dinars)</label>
  <br> <input class="uk-input uk-form-danger uk-form-width-medium" type="number" placeholder="100 DNT" value="00.00 DNT" name="market" 
  #market="ngModel" ngModel required >
  <p class="alert alert-danger" *ngIf="market.errors?.required && market.touched" >  Market price is required</p>
  
</div>

<div class="uk-margin">
  <label class="uk-form-label" for="form-horizontal-text">shipping price : (price in dinars)</label>
  <br><input class="uk-input uk-form-danger uk-form-width-medium" type="number" placeholder="00.00 DNT" value="8 DNT" name="shipping" 
  #shipping="ngModel" ngModel required >
  <p class="alert alert-danger" *ngIf="shipping.errors?.required && shipping.touched" >  Market price is required</p>
  
</div>
<div class="uk-margin">
  <label class="uk-form-label" for="form-horizontal-text">product amount :</label>
 <br> <input class="uk-input uk-form-width-xsmall" type="number" placeholder="Qte" name="qte"
  #qte="ngModel" ngModel required maxlength="3">

  <p class="alert alert-danger" *ngIf="qte.errors?.required && qte.touched" >amount is required</p>
</div>

<div class="uk-margin">
  <label class="uk-form-label" for="form-horizontal-text">About the product: </label>
  <textarea class="uk-textarea" rows="5" placeholder="brief description" 
  name="about" #about="ngModel" ngModel required minlength="20"></textarea>
  <p class="alert alert-danger" *ngIf="about.errors?.required && about.touched" >  description is required</p>
  <p class="alert alert-danger" *ngIf="about.errors?.minlength && about.touched" >  description should be more then 10 caractaire</p>

</div>  
<div uk-form-custom="target: true">
  <label class="uk-form-label" for="form-horizontal-text">Add image: </label>
  <input type="file" name="image" #image="ngModel" ngModel required accept=".jpg,.png" (change)="uploadImage($event)">
  <input class="uk-input uk-form-width-medium"
   type="text" placeholder="Select image" disabled>
   <p class="alert alert-danger" *ngIf="image.errors?.required && image.touched" >  image is required</p>
</div>

       
       <br>
       <br>
        <div class="alert alert-success" *ngIf="successMessage">{{successMessage}}</div>
        <p class="uk-text-center">
          <button class="uk-button uk-button-danger uk-modal-close" type="reset">Cancel</button>
            <button class="uk-button uk-button-primary" type="submit" [disabled]="f.invalid" >Save</button>
           
        </p>
       

    </form>
  
  </div>
</div>
<br> <br>