<div class="ll-hero">
  <ng-particles [id]="'home_hero__particles'" class="ll-hero__particles" [options]="particlesOptions"></ng-particles>
  <div class="container">
    <div class="grid grid-cols-12 gap-x-6">
      <div class="col-span-12 md:col-span-6 lg:col-span-7 xxl:col-span-6 ll-hero-text">
        <h1 class="lg:mt-12 text-white font-bold">
          All th right stuff to the right peopel
        </h1>
        <div class="flex flex-wrap items-center mt-4">
          <div class="inline-block mr-5">Offer:</div>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">phone</a>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40 mr-3">laptop</a>
          <a href="" class="rounded-full bg-white px-5 py-2 bg-opacity-40">other Stuff</a>
        </div>
      </div>
      <div class="col-span-12 md:col-span-6 lg:col-span-5 xxl:col-span-6 ll-image mt-10 md:mt-0">
    
        <img class="ml-auto" src="assets/images/Electronics-Item.png" alt="items" />
      </div>
    </div>
  </div>
</div>

<div class="ll-service-area">
  <div class="container">
    <h1 class="ll-service__title text-center font-extralight mb-12">YOU WANT IT - YOU GET IT </h1>
    <div class="ll-services grid grid-cols-12 gap-8">
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">01</div>
        <h3 class="mb-2">scroll</h3>
        <p>scroll our products to find what you need.</p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">02</div>
        <h3 class="mb-2">choose</h3>
        <p>choose the product you like and get more details.</p>
      </div>
     
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">03</div>
        <h3 class="mb-2">order</h3>
        <p>connect to our platform and order your product.</p>
      </div>
      <div class="ll-service col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">04</div>
        <h3 class="mb-2">get</h3>
        <p>we make sure to deliver your order at home.</p>
      </div>
    </div>
  </div>
</div>



<ll-home-products></ll-home-products>

<div class="ll-process-area bg-black mt-16">
  <div class="container">
    <h2 class="ll-process__title text-center text-warn mb-8">How our After Sales Service works</h2>
    <div class="ll-processes grid grid-cols-12 gap-8">
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">01</div>
        <h3 class="mb-2 text-warn font-bold">Contact</h3>
        <p class="text-white">send us an ultra-detailed product failure report.</p>
      </div>
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">02</div>
        <h3 class="mb-2 text-warn font-bold">Wait</h3>
        <p class="text-white">wait for us to check your report.</p>
      </div>
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">03</div>
        <h3 class="mb-2 text-warn font-bold">verify</h3>
        <p class="text-white">verification by our after-sales service</p>
      </div>
      <div class="ll-process col-span-12 sm:col-span-6 lg:col-span-3">
        <div class="number">04</div>
        <h3 class="mb-2 text-warn font-bold">Compensation</h3>
        <p class="text-white">get your Compensation.</p>
      </div>
    </div>
  </div>
</div>

<div class="pt-20 ll-starter">
  <div class="container">
    <h2 class="text-center mb-16 xl:mb-0">Start with you desire</h2>
    <div class="grid xl:grid-cols-2 gap-x-8 mt-10">
      <div class="ll-starter__card px-5 grid grid-cols-12 place-items-center">
        <div class="col-span-5 px-5">
          <img class="-mt-14" src="assets/images/starter-01.png" alt="" />
        </div>
        <div class="py-5 col-span-7">
          <h4 class="text-white mb-4">Start as a buyer</h4>
          <p class="text-white mb-7">
            subscrib and Become part of our Team.
          </p>
          <a [routerLink]="['/auth/signup']" routerLinkActive="router-link-active" mat-flat-button color="warn" class="font-semibold"
            >Join Now</a
          >
        </div>
      </div>
      <div class="ll-starter__card px-5 grid grid-cols-12 place-items-center mt-16 xl:mt-0">
        <div class="col-span-5 px-5">
          <img class="-mt-14" src="assets/images/starter-02.png" alt="" />
        </div>
        <div class="py-5 col-span-7 order-first text-right">
          <h4 class="text-white mb-4">Start as a client</h4>
          <p class="text-white mb-7">
            log in to find out your good plan.
          </p>
          <a [routerLink]="['/auth/signup']" routerLinkActive="router-link-active" mat-flat-button color="warn" class="font-semibold"
            >Join Now</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
